$color-white: #fff;

$color-primary: #124280;
$color-primary-hover: #2c5386;
$color-primary-active: #508fe0;

$color-secondary: #df6800;
$color-secondary-hover: #dd8436;
$color-secondary-active: #f7ac36;

$color-dark-gray: #444444;
$color-med-gray: #cccccc;
$color-light-gray: #f4f4f4;

$color-lightest-link: #0c8ce5;
