<div class="content-card">
  <div class="content-card__row">
    <div class="content-card__row__image">
      <picture>
        <img [src]="'../../../assets/images/hotels/' + hotel.image" alt="Imagen de {{hotel.name}}">
      </picture>
    </div>
    <div class="content-card__row__data">
      <div class="content-card__row__data__row">
        <label>{{hotel.name}}</label>
      </div>
      <div class="content-card__row__data__row">
        <div *ngFor="let star of stars" class="content-card__row__data__row__stars">
          <mat-icon svgIcon="star"></mat-icon>
        </div>
      </div>
      <div class="content-card__row__data__row">
        <mat-icon *ngFor="let amenity of amenities" svgIcon="{{amenity}}"
          class="content-card__row__data__row__amenities"></mat-icon>
      </div>
    </div>
    <div class="content-card__row__price">
      <div class="content-card__row__price__box">
        <div class="content-card__row__price__box__row">
          <label class="content-card__row__price__box__row__desc">
            Precio por noche por habitación
          </label>
        </div>
        <div class="content-card__row__price__box__row">
          <label class="content-card__row__price__box__row__val">
            ARS <strong>{{hotel.price}}</strong>
          </label>
        </div>
        <div class="content-card__row__price__box__row">
          <button class="content-card__row__price__box__row__button" type="button">Ver hotel</button>
        </div>
      </div>
    </div>
  </div>
</div>